<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

	<link type="text/css" rel="stylesheet" href="stylesheet.css" />
    <title>Curated Music Collection</title>
  </head>

<body>

<nav>
	<div class="nav-style">
      <div>
  		<ul>
  			<a href="/">Home</a>
  			<a href="/songs">Complete Collection</a>
  			<a href="/albums">Albums</a>
  			<a href="/artists">Artists</a>
  		</ul>
      </div>
	</div>
</nav>
<div> <a href="/add_song"><img src="images/add.png"></a> </div>


<!-- The `yield` below is where the contents of a view file are put. -->
<!-- Then the combined layout + view is sent back to the client. -->
<%= yield %>

<div>
  <div class="">
    <p>
    </p>
  </div>
</div>

</body>

</html>

