<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css" />
		<title>All Music</title>
	</head>
	<body>
		<div class="pg-heading"><h1>Curated Music Collection</h1></div>
		<div class="tbl-container">
			<div>
				<table class="tbl-style">
					<thead>
						<tr>
							<th colspan="9">Music Collection</th>
						</tr>
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>Artist</th>
							<th>Album</th>
							<th>Genre</th>
							<th>Duration</th>
							<th>Song Rating</th>
							<th>Album Rating</th>
							<th>Date Added</th>
						</tr>
					</thead>
					<tbody class="tblrows">
						<!-- Outer loop iterates 3 times. -->
						<% @tbldata.each do |x|	%>
						<!-- Inner loop iterates 9 times -->
							<tr>
								<% x.each do |key, value| %>
									<td><%= value %></td>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>